
@model List<ResultSkillDto>
@{
    string level = "";
    string color = "";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">


<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">

            <li class="list-inline-item">  <i class="devicon-csharp-plain text-success"></i></li>
            <li class="list-inline-item">  <i class="devicon-dotnetcore-plain text-dark"></i></li>
            <li class="list-inline-item">  <i class="devicon-swift-plain text-danger"></i></li>
            <li class="list-inline-item">  </li>
            <li class="list-inline-item">  </li>
            <li class="list-inline-item">  </li>
            <li class="list-inline-item"><i class="fab fa-html5 text-info"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt text-danger"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square text-warning"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular text-danger"></i></li>
            <li class="list-inline-item"><i class="fab fa-react text-info"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js text-success"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass text-secondary"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <table >
            <tbody>
                @foreach (var item in Model)
                {
                    var stringPer = Convert.ToInt32(item.Percentage);
                    if (stringPer <= 50)
                    {
                        level = "Junior";
                        color = "text-danger";
                    }
                    else if (stringPer > 50 && stringPer < 70)
                    {
                        level = "Above Junior";
                        color = "text-warning";
                    }
                    else if (stringPer >= 70 && stringPer < 85)
                    {
                        level = "Medium";
                        color = "text-warning";
                    }
                    else
                    {
                        level = "Senior";
                        color = "text-success";
                    }
                    <tr>
                        <td>
                            <i class="fas fa-check"></i> @item.Title
                        </td>
                        <td>
                            &ensp;
                        </td>
                        <td>
                            <strong>  Level : <span class="@color">@level</span></strong>
                        </td>
                    </tr>
                }
            </tbody>
           
        </table>
        <ul class="fa-ul mb-0">
            
        </ul>
    </div>
</section>