@model List<ResultHobbyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <br />
            <h4 class="page-title">Hobby Section</h4>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hobby Information</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can make changes in this section.
                            </div>
                            <form role="form">
                                @foreach (var item in Model)
                                {
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="Description">Enter Hobby</label>
                                            <textarea rows="5" class="form-control"  id="Description">@item.Description</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description2">Enter Hobby-2</label>
                                            <textarea rows="5" class="form-control" id="Description2">@item.Description2</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description3">Enter Hobby-3</label>
                                            <textarea rows="5" class="form-control" id="Description3">@item.Description3</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description4">Enter Hobby-4</label>
                                            <textarea rows="5" class="form-control" id="Description4">@item.Description4</textarea>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn btn-primary">Update New Exprience Section</button>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>