

<footer class="main-footer">
    <b>Version</b> 1.0.1
    
    <div class="float-right d-none d-sm-inline-block">
        <strong>Copyright &copy; - @DateTime.Now.Year - <a href="http://adminlte.io">By Kadir GÜVEN</a></strong> &nbsp; &nbsp; &nbsp; All Right Reserved.
    </div>
</footer>
