@model UpdateExprienceDto
@{
    ViewData["Title"] = "UpdateExprience";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Exprience</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Update Exprience</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-11">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Update Exprience Section</h3>
                    </div>
                    <form role="form" method="post">
                        <div class="card-body">
                            <input type="hidden" asp-for="ExprienceID"/>
                            <div class="form-group">
                                <label for="Title">Enter title..</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                            <div class="form-group">
                                <label for="Subtitle">Enter subtitle..</label>
                                <input type="text" class="form-control" asp-for="Subtitle" id="Subtitle">
                            </div>
                            <div class="form-group">
                                <label for="Description">Enter description..</label>
                                <input type="text" class="form-control" asp-for="Description" id="Description">
                            </div>
                            <div class="form-group">
                                <label for="Date">Enter date..</label>
                                <input type="tel" class="form-control" asp-for="Date" id="Date">
                            </div>
                            <div class="card-action">
                                <button class="btn btn-primary">Update New Exprience Section</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>