
@model List<ResultHobbyDto>

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        @foreach(var item in Model)
        {
            <p>@item.Description</p>
            if (item.Description2 != "")
            {
                <p>@item.Description2</p>
            }
            if (item.Description3 != "")
            {
                <p>@item.Description3</p>
            }
            if (item.Description4 != "")
            {
                <p>@item.Description4</p>
            }
        }
       </div>
</section>