
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile1.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Cv Panel
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Register/Index">
								<span class="link-collapse">Register</span>
							</a>
						</li>
						<li>
							<a href="/Login/Index">
								<span class="link-collapse">Login</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index">
					<i class="la la-table"></i>
					<p>Go To Main</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars/Index">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index/">
					<i class="la la-keyboard-o"></i>
					<p>About</p>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Exprience/Index/">
					<i class="la la-bomb"></i>
					<p>Exprience</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Education/Index">
					<i class="la la-font"></i>
					<p>Education</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skill/Index">
					<i class="la la-money"></i>
					<p>Skills</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Hobby/Index">
					<i class="la la-phone"></i>
					<p>Interests</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Certification/Index">
					<i class="la la-quote-left"></i>
					<p>Certifications</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index">
					<i class="la la-facebook"></i>
					<p>Social Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index">
					<i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
					<p>Message</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Mail/Index">
					<i class="la la-anchor"></i>
					<p>Mail</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Setting/Index">
					<i class="la la-wrench"></i>
					<p>Settings</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-fonticons"></i>
					<p>Logout</p>
				</a>
			</li>
		</ul>
	</div>
</div>